{% extends "base.html" %}


{% block title %}
    Correo enviado
{% endblock title %}


{% block content %}
    
    <h1>Correo enviado</h1>

    <p>
        Si existe una cuenta asociada al correo electrónico
        proporcionado, recibirás un enlace para restablecer tu contraseña.
    </p>

    <p>
        Revisa tu bandeja de entrada y sigue las instrucciones
        para establecer una nueva contraseña.
    </p>

    <p>
        <a href="{% url 'login' %}">
            Volver a iniciar sesión
        </a>
    </p>


{% endblock content %}
    