{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/auth.css' %}">
{% endblock extra_css %}

{% block title %}
    Contraseña actualizada
{% endblock title %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h2>Contraseña actualizada</h2>

        <p class="auth-description">
            Tu contraseña se ha cambiado correctamente.
        </p>

        <p class="auth-description">
            Ya puedes iniciar sesión con tu nueva contraseña.
        </p>

        <div class="auth-links">

            <p>
                <a href="{% url 'login' %}">
                    Iniciar sesión
                </a>
            </p>

        </div>

    </div>

</div>

{% endblock content %}