{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/auth.css' %}">
{% endblock extra_css %}

{% block title %}
    Crear cuenta
{% endblock title %}
    

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>Crear cuenta</h1>
    
        <form method="POST">

            {% csrf_token %}
            
            {{ form.as_p }}

            <button type="submit">
                Registrarse
            </button>

        </form>

        <div class="auth-links">

            <p>
                ¿Ya tienes una cuenta?
                <a href="{% url 'login' %}">
                    Iniciar sesión
                </a>
            </p>

        </div>

    </div>

</div>

{% endblock content %}
    