{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/task_detail.css' %}">
{% endblock extra_css %}

{% block title %}
    Detalle de tarea
{% endblock title %}


{% block content %}

    <article class="task-detail">

        <h2>{{ task.title }}</h2><!-- Mostramos el título de la tarea. -->

        <section class="task-detail-description">

            <p>{{ task.description|linebreaks }}</p>  <!-- linebreaks convierte los saltos de línea del texto en formato HTML para conservar la estructura de la descripción. -->

        </section>
    
        <section class="task-detail-info">

            <p class="task-due-date">
                Fecha límite: {{ task.due_date }}     <!-- Mostramos la fecha límite almacenada en la tarea. -->
            </p>   

            {% if task.is_overdue %}
        
                <!-- is_overdue es una propiedad que definimos en el modelo(revisar modelo) que indica si la tarea venció y todavía no está completada. -->
                <p class="task-overdue">
                    ⚠ Tarea vencida.
                </p>
                
            {% endif %}
                
            <p class="task-status-message">

                <span>Estado</span>
                <!-- Accedemos a la propiedad status_message del objeto task del modelo(revisar modelo) para mostrar un mensaje relacionado con su estado. -->
                {{ task.status_message }}
            </p>
                
            <p class="task-priority-label"> 

                <span>Prioridad</span>
                <!-- Accedemos a la propiedad priority_label del objeto task del modelo(revisar modelo) para mostrar el mensaje correspondiente a su prioridad. -->
                {{ task.priority_label }}
            </p>

        </section>

        <section class="task-detail-metadata">

            <p>Creada: {{ task.created_at }}</p>
            <p>Última actualización: {{ task.updated_at }}</p>

        </section>

        <section class="task-detail-actions">

            <a href="{% url 'tasks:task_edit' task.id %}"> Editar</a>
            <a href="{% url 'tasks:task_delete' task.id %}">Eliminar</a>

        </section>
            
    </article>


{% endblock content %}