{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/task_list.css' %}">
{% endblock extra_css %}

{% block title %}
    Mis tareas
{% endblock title %}


{% block content %}

    <div class="task-list-header">

        <h2>Mis Tareas</h2>

        <div class="task-stats">
    
            <div class="stat-card stat-total">
                <span class="stat-number">{{ total_tasks }}</span>
                <span class="stat-label">Total</span>
            </div>
    
            <div class="stat-card stat-pending">
                <span class="stat-number">{{ pending_tasks }}</span>
                <span class="stat-label">Pendientes</span>
            </div>
    
            <div class="stat-card stat-progress">
                <span class="stat-number">{{ in_progress_tasks }}</span>
                <span class="stat-label">En progreso</span>
            </div>
    
            <div class="stat-card stat-completed">
                <span class="stat-number">{{ completed_tasks }}</span>
                <span class="stat-label">Completadas</span>
            </div>
    
            <div class="stat-card stat-overdue">
                <span class="stat-number">{{ overdue_tasks }}</span>
                <span class="stat-label">Vencidas</span>
            </div>
    
        </div>

    </div>


    <form method="get" class="task-filters">
        <input type="text" name="search" placeholder="Buscar una tarea..." value="{{ request.GET.search }}"> 
        <!-- Django volverá a colocar en el input lo que viene en: ?search=django -->
        <!-- Por lo tanto:  {{ request.GET.search }} será: django -->
        
        <select name="status">
            <option value="">Todos los estados</option>
            <option value="PENDING" {% if request.GET.status == "PENDING" %} selected {% endif %}>Pendiente</option> <!-- ¿El parámetro status de la URL es PENDING? -->
            <option value="IN_PROGRESS" {% if request.GET.status == "IN_PROGRESS" %} selected {% endif %} >En progreso</option>
            <option value="COMPLETED" {% if request.GET.status == "COMPLETED" %} selected {% endif %} >Completado</option>
        </select>

        <select name="priority">
            <option value="">Todas las prioridades</option>
            <option value="LOW" {% if request.GET.priority == "LOW" %} selected {% endif %} >Baja</option>
            <option value="MEDIUM" {% if request.GET.priority == "MEDIUM" %} selected {% endif %}>Media</option>
            <option value="HIGH" {% if request.GET.priority == "HIGH" %} selected {% endif %}>Alta</option>
        </select>

        <select name="order">
            <option value="">Ordenar por</option>
            <option value="due_asc" {% if request.GET.order == "due_asc" %} selected {% endif %}>Fecha límite más próxima</option>
            <option value="due_desc" {% if request.GET.order == "due_desc" %} selected {% endif %}>Fecha límite más lejana</option>
            <option value="newest" {% if request.GET.order == "newest" %} selected {% endif %}>Más recientes</option>
            <option value="oldest" {% if request.GET.order == "oldest" %} selected {% endif %}>Más antiguas</option>
        </select>

        <button type="submit">
            Filtrar
        </button>

        <a href="{% url 'tasks:task_list' %}">
            Limpiar Filtros
        </a>
    </form>

    {% if object_list|length == 0 %}
        <!-- object_list es proporcionado automáticamente por Django ListView y contiene el resultado de get_queryset(). -->
        <!-- |length obtiene la cantidad de elementos que contiene object_list. -->
        <p class="task-results-count">No se encontraron tareas.</p>

    {% elif object_list|length == 1 %}
        <!-- Comprobamos si object_list contiene exactamente una tarea. -->
        <p class="task-results-count">1 tarea encontrada.</p>

    {% else %}
        <!-- Si hay más de una tarea, mostramos la cantidad de elementos que contiene object_list. -->
        <p class="task-results-count">{{ object_list|length }} tareas encontradas en está página.</p>

    {% endif %}

    
    {% for task in tasks %}

        <article>
            <h3>
                <a href="{% url 'tasks:task_detail' task.id %}">
                    {{ task.title }}
                </a>
            </h3>

            <p class="task-status status-{{ task.status|lower }}">
                <!-- get_status_display() es un método generado automáticamente por Django porque el campo status utiliza choices. Devuelve la etiqueta legible del estado. -->
                Estado: {{ task.get_status_display }}
            </p>

            <p class="task-priority priority-{{ task.priority|lower }}">
                <!-- get_priority_display() es un método generado automáticamente por Django porque el campo priority utiliza choices. Devuelve la etiqueta legible de la prioridad. -->
                Prioridad: {{ task.get_priority_display }}
            </p>

            <p class="task-due-date">
                Fecha límite: {{ task.due_date }}
            </p>

            {% if task.is_overdue %}
                <!-- is_overdue es una propiedad del modelo(revisar modelo) que indica si la tarea está vencida y todavía no está completada. -->
                <p class="task-overdue">
                    ⚠ Tarea vencida.
                </p>
                
            {% endif %}
                

        </article>

    {% empty %}

        <div class="empty-state">

            <h3>
                No tienes tareas
            </h3>

            <p>
                No hay tareas que mostrar en este momento.
            </p>

            <a href="{% url 'tasks:task_create' %}">
                + Nueva tarea
            </a>

        </div>

    {% endfor %}

    
    {% if is_paginated %}       <!-- is_paginated es proporcionado automáticamente por ListView e indica si existen varias páginas. -->

    <!--    Django nos está proporcionando varios objetos automáticamente con:
            page_obj
                │
                ├── number
                ├── has_previous
                ├── previous_page_number()
                ├── has_next
                └── next_page_number()
    -->

        <div class="pagination">
            
            {% if page_obj.has_previous %}           <!-- page_obj representa la página actual y has_previous indica si existe una página anterior. -->

                <!-- request.GET contiene los parámetros actuales de la URL y urlencode() los convierte nuevamente en formato de consulta para reutilizarlos en otro enlace. -->
                <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">
                    Anterior
                </a>
                
            {% endif %}

            <!-- page_range contiene automáticamente los números de todas las páginas disponibles. -->
            {% for num in page_obj.paginator.page_range %}
                
                {% if num == page_obj.number %}             <!-- page_obj.number indica el número de la página actual. -->
                    
                    <strong>
                        {{ num }}
                    </strong>

                {% else %}
                    <!-- Conservamos los parámetros GET actuales y solamente cambiamos el número de página. -->
                    <a href="?{{ request.GET.urlencode }}&page={{ num }}">{{ num }}</a>
                    
                {% endif %}
                    
                
            {% endfor %}
                

            {% if page_obj.has_next %}              <!-- has_next indica si existe una página posterior. -->

                <!-- request.GET contiene los parámetros actuales de la URL y urlencode() los convierte nuevamente en formato de consulta para reutilizarlos en otro enlace. -->
                <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">
                    Siguiente
                </a>
                
            {% endif %}
                
        </div>

    {% endif %}


{% endblock content %}