{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tasks/css/task_form.css' %}">
{% endblock extra_css %}

{% block title %}
    Formulario de tarea
{% endblock title %}


{% block content %}
    
    <h1 class="task-form-title">
        Crear / Editar Tarea
    </h1>

    <form method="POST" class="task-form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.as_p }}

        <button type="submit">
            Guardar tarea
        </button>

    </form>

{% endblock content %}

    