{% extends "base.html" %}


{% block title %}
    Mis tareas
{% endblock title %}


{% block content %}

    <h2>Mis Tareas</h2>

    
    {% for task in tasks %}

        <article>
            <h3>
                <a href="{% url 'task_detail' task.id %}">
                    {{ task.title }}
                </a>
            </h3>

            <p>
                {{ task.description }}
            </p>

            <p>
                {{ task.get_status_diisplay }}
            </p>

            <p>
                {{ task.get_priority_display }}
            </p>
        </article>

    {% empty %}

        <p>No tienes tareas registradas.</p>

    {% endfor %}
    
{% endblock content %}
    
    
